<%- include ('../partials/header') %>
<header class="masthead" style="background-image: url('https://images.unsplash.com/photo-1643120382882-2e3de81f81c5?ixlib=rb-1.2.1&ixid=MnwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8&auto=format&fit=crop&w=1171&q=80')">
    <div class="container position-relative px-4 px-lg-5">
        <div class="row gx-4 gx-lg-5 justify-content-center">
            <div class="col-md-10 col-lg-8 col-xl-7">
                <div class="site-heading">
                    <h1>Clean Blog</h1>
                    <span class="subheading">A Blog Theme by Start Bootstrap</span>
                </div>
            </div>
        </div>
    </div>
</header>

    <form class="form-inline h-25 w-25 mx-auto"  method="post">
      <h1>Signup Form</h1>
      <div class="form-group mb-2">
        <label for="staticEmail2" class="sr-only">Username</label>
        <input type="text"  class="form-control" id="username" name ="username" placeholder="Username">
      </div>
      <div class="form-group mb-2">
        <label for="inputPassword2" class="sr-only">Password</label>
        <input type="password" class="form-control" id="inputPassword2" name ="password" placeholder="Password">
      </div>
      <button type="submit" class="btn btn-primary mb-2">submit</button>
    </form>
  
<br><br><br><br><br>
<div class="container mx-auto">
<h1>Kay覺tl覺 Kullan覺c覺lar</h1>

</div>

<%- include ('../partials/footer') %>